body{
    color: #333333;
    margin:0;
}

.inline-from{
    display:inline-flex;
    /*justify-content: center;*/
}

.centering_parent {
    margin :  auto;
    background-color:  #ffffff;    /* 背景色指定 */
    height: 100vh;              /* 高さ指定 */
    width: 100%;               /* 幅指定 */
    position:relative;
}

.centering_item {
    font-size: 1.6rem;
    text-align: center;
    background-color: #ffffff;   /* 背景色指定 */
    position: absolute;
    margin: auto;
    top:  0;                     /* 位置指定 */
    bottom:  0;                  /* 位置指定 */
    left:  0;                    /* 位置指定 */
    right:  0;                   /* 位置指定 */
    height: 200px;                /* 高さ指定 */
}

.left_item {
    padding: 0px 60px;
    font-size: 14px;
}
.menu_item {
    display: flex;
    width: 100%;
    padding: 12px;
    gap:0px 0.5rem;
    /*justify-content: center;*/
    align-items: center;
}

h1{
    font-size: 4.8rem;
    margin: 0;
    padding: 0;
}



button{
    height:24px;
}
.main_title{
    text-align: center;
    margin: 0;
}

.form{
    margin: 0;
    width: 100%;
    display: flex;
    gap:0 0.25rem;
}

.input-area{
    width: 30%;
    padding: 6px;
    height:24px;
}
.menu-input-area{
    width: 30%;
    min-width: 200px;
    height:24px;

}

.search_result{
    font-size:0.5rem;
    opacity: 0.75;
}

.top_form{
    width: 100%;
}

.button_centering{
    width: 100%;
    display: flex;
    gap :1rem;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}